.header {
	grid-area: h;
	background-color: green;
}

.header img {
	width: 58px;
	border: 1px solid #000;
}

.loginBlock {
	float: right;
}

.loginBlock a{
	color: white;
}

.login {
	font-size: 25px;
	color: white;
	padding: 10px;
}

.logOutButton {
	background-color: yellow;
	font-size: 16px;
	border-radius: 5px;
	font-style: italic;
	font-weight: 700;
}

.logOutButton:hover {
	box-shadow: 1px 1px 1px yellow;
	transition: all 0.5s;
}

