.header {
	grid-area: h;
	background-color: green;
}

.header img {
	width: 58px;
	border: 1px solid #000;
}

.loginBlock {
	float: right;
}

.loginBlock a{
	color: white;
}

.login {
	font-size: 25px;
	color: white;
	padding: 10px;
}