.descriptionBlock {
	padding: 10px;
	display: flex;
	align-items: center;
}

.userInfoWrapper {
	margin-left: 10px;
}

.jobPicture {
	width: 70px;
	height: 100px;
	border-radius: 50%;
}

.jobSearching {
	display: flex;
	align-items: center;
}

.userPhoto {
	width: 300px;
	height: 100px;
}

.userText {
	margin-bottom: 20px;
}

.statusBlock {
	margin-bottom: 50px;
	font-style: italic;
	font-size: 20px;
}

.statusInputBlock {
	margin-bottom: 50px;
}

.infoTitle {
	font-weight: 700;
}

.statusText:hover {
	cursor: pointer;
}